<?xml version='1.0' encoding='utf-8'?>
<widget 
	id="{lianja:id}" 
	version="{lianja:version}" 
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	>
	<gap:platform name="android" />
    <name>{lianja:name}</name>
    <description>{lianja:description} Android Phone</description>
    <author email="{lianja:author_email}" href="{lianja:author_href}">{lianja:author}</author>
    <content src="index.html" />
	<preference name="phonegap-version" value="cli-{lianja:cli}" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="{lianja:orientation}" />
    <preference name="target-device" value="{lianja:target_device}" />
    <preference name="android-windowSoftInputMode" value="adjustResize" />	
    <preference name="fullscreen" value="{lianja:fullscreen}" />
    <preference name="webviewbounce" value="{lianja:webviewbounce}" />
    <preference name="prerendered-icon" value="{lianja:prerendered_icon}" />
    <preference name="stay-in-webview" value="{lianja:stay_in_webview}" />
    <preference name="ios-statusbarstyle" value="{lianja:ios_statusbarstyle}" />
    <preference name="detect-data-types" value="{lianja:detect_data_types}" />
    <preference name="exit-on-suspend" value="{lianja:exit_on_suspend}" />
    <preference name="show-splash-screen-spinner" value="{lianja:show_splash_screen_spinner}" />
    <preference name="auto-hide-splash-screen" value="{lianja:auto_hide_splash_screen}" />
    <preference name="disable-cursor" value="{lianja:disable_cursor}" />
    <preference name="android-minSdkVersion" value="{lianja:android_minSdkVersion}" />
    <preference name="android-installLocation" value="{lianja:android_installLocation}" />
	<preference name="android-build-tool" value="gradle" />
	<preference name="HideKeyboardFormAccessoryBar" value="true"/>	
	<preference name="FadeSplashScreen" value="false"/>
	{lianja:preferences}
	{lianja:debug}
    {lianja:plugins}
	<gap:plugin name="cordova-plugin-whitelist" source="npm" /> 
    <icon src="{lianja:icon}" />
	<gap:splash src="{lianja:splashscreen}" />
    <access origin="{lianja:allowaccessorigin}" />
	<allow-intent href="*" />
	<allow-navigation href="*" />	
	<access origin="tel:*" launch-external="yes"/>
	<access origin="geo:*" launch-external="yes"/>
	<access origin="mailto:*" launch-external="yes"/>
	<access origin="sms:*" launch-external="yes"/>
	<access origin="market:*" launch-external="yes"/>
    <icon gap:platform="android" gap:qualifier="ldpi" src="www/res/icon/android/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="www/res/icon/android/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="www/res/icon/android/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/res/icon/android/icon-96-xhdpi.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="www/res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="www/res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="www/res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="www/res/screen/android/screen-xhdpi-portrait.png" />
</widget>
